<ul>    
  <li>{{#link-to 'console.content' (query-params type='first')}}First{{/link-to}}</li>
  <li>{{#link-to 'console.content' (query-params type='second')}}Second{{/link-to}}</li>
  <li>{{#link-to 'console.request' (query-params type='third')}}Third{{/link-to}}</li>
  <li>{{#link-to 'console.request' (query-params type='fourth')}}Fourth{{/link-to}}</li>
</ul>
{{outlet}}